<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083175741331-f75g2ojf3g91h08li9t9qenm7o10vj4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083175741331-f75g2ojf3g91h08li9t9qenm7o10vj4b</string>
	<key>API_KEY</key>
	<string>AIzaSyDxg13yRjYtFmF4ez28mXv009NLri3upgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1083175741331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuri.flutter-demo.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-demo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-demo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083175741331:ios:6010fa7c29c0cdeb866a66</string>
</dict>
</plist>